cava
cef_user_data
Code
configfiles.tar.gz
configstore
dconf
discord
dunst
GIMP
gtk-2.0
gtk-3.0
htop
i3
inkscape
kitty
lunarclient
Mumble
nitrogen
obs-studio
pavucontrol.ini
procps
pulse
PulseEffects
QtProject.conf
ranger
screenlayout.sh
Signal
spotify
sxhkd
wal
xfce4
BetterDiscord
Dharkael
VIA
awesome
cmus
cpc
eww
google-chrome
menus
mimeapps.list
openbox
picom
spicetify
tmc
unity3d
coc
Element
asciinema

